@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #f3f4f6;
  color: #181b1d;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-n-header.is-open .e-n-header-background {
  left: 0;
}
.e-n-header-button-wrapper {
  margin-left: auto;
}
.e-n-header-icon {
  display: none;
}

.e-n-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-n-navigation-list.is-open {
  right: 0;
}
.e-n-header-icon-menu {
  display: block;
}

.e-n-header-icon-button.is-open .e-n-header-icon-menu {
  display: none;
}

.e-n-header-icon-button.is-open .e-n-header-icon-close {
  display: block;
}

.e-n-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: #220429;
}

.e-n-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #220429;
}
.e-n-header.is-open .e-n-header-background {
  left: 0;
}
.e-n-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-n-header-icon-menu {
  display: block;
}

.e-n-header-icon-button.is-open .e-n-header-icon-menu {
  display: none;
}

.e-n-header-icon-button.is-open .e-n-header-icon-close {
  display: block;
}

.e-n-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.e-n-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;

  gap: 22px;
  background: #220429;
}

.e-n-navigation-list.is-open {
  right: 0;
}

.e-n-navigation-link {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
}

.e-n-navigation-link:hover,
.e-n-navigatioт-link:focus {
  color: #e7b44c;
}

.e-n-header.is-open {
  background-color: transparent;
}

.e-n-navigation-img {
  display: none;
}

@media screen and (min-width: 1211px) {
  .e-n-navigation-img {
    display: flex;
  }
  .e-n-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .e-n-header {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #220429;
  }

  .e-n-header-background {
  }
  .e-n-header-icon-button {
    display: none;
  }
  .e-n-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-n-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 18px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .e-n-navigation-link {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    color: #ffffff;

    text-decoration: none;
  }

  .e-n-navigation-item-desk {
    display: none;
  }
}
.e-n-home {
  background: #220429;
  margin: auto;
}
.e-n-home-container {
  height: 1222px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  width: 375px;
  padding: 92px 16px 0px;
  margin: auto;
}

.e-n-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.e-n-home-title-img {
  width: 343px;
}
.e-n-home-title {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;

  padding: 24px 0;
}

.e-n-home-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
}
.e-n-home-text-two {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #919496;
  padding-top: 24px;
}
@media screen and (min-width: 1211px) {
  .e-n-home-container {
    width: 1440px;
    padding: 132px 150px 0px;
    height: 940px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .e-n-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    width: 562px;
  }
  .e-n-home-title-img {
    width: 562px;
  }
  .e-n-home-title {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-n-home-text {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-n-home-text-two {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.e-n-about {
  background: #220429;
}
.e-n-about-container {
  width: 375px;
  padding: 40px 16px;
  margin: auto;
  background: #220429;
  color: #ffffff;
}
.e-n-about-title {
  display: flex;
  flex-direction: column;
  width: 196px;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.e-n-about-title-two {
  color: #181b1d;
}
.e-n-about-title-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  padding-top: 24px;
}
.e-n-about-title-text-t {
  color: #181b1d;
}

.e-n-about-text-bold {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;
  padding: 32px 0 16px;
}
.e-n-about-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #919496;
}
@media screen and (min-width: 1211px) {
  .e-n-about-container {
    width: 1440px;
    padding: 100px 150px;
    margin: auto;
    background: #220429;
    color: #ffffff;
  }

  .e-n-about-title-text {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .e-n-about-text-bold {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 30px;
    line-height: 142%;
    letter-spacing: 0%;

    padding: 60px 0 16px;
  }
  .e-n-about-text {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;

    width: 752px;
  }
}
.e-n-why {
  background: #f3f4f6;
}

.e-n-why-container {
  background: #f3f4f6;

  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.e-n-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.e-n-why-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.e-n-why-text-bold {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;
}
.e-n-why-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #636567;
}
.e-n-why-img {
  width: 343px;
  border-radius: 10px;
}
@media screen and (min-width: 1211px) {
  .e-n-why-container {
    background: #f3f4f6;

    width: 1440px;
    margin: auto;
    padding: 100px 150px;
  }
  .e-n-why-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .e-n-why-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .e-n-why-text-bold {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 30px;
    line-height: 142%;
    letter-spacing: 0%;
  }
  .e-n-why-text {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
  }
  .e-n-why-img {
    width: 557px;
    border-radius: 10px;
  }
}

.e-n-uniqueness {
  background: #ffffff;
}
.e-n-uniqueness-container {
  height: 793px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/RPG\ System.png");

  margin: auto;
  width: 375px;
  padding: 40px 16px;
}
.e-n-uniqueness-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #636567;
}
.e-n-uniqueness-item-two {
  width: 167.5px;
}
@media screen and (min-width: 1211px) {
  .e-n-uniqueness-container {
    height: 940px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/RPG\ System\ \(1\).png");

    margin: auto;
    width: 1440px;
    padding: 100px 732px 0 150px;
  }
  .e-n-uniqueness-list {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
  }
  .e-n-uniqueness-item-two {
    width: auto;
  }
}
.e-n-how {
  background: #f3f4f6;
}
.e-n-how-container {
  margin: auto;
  width: 375px;
  height: 1652px;
  padding: 80px 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/11.png");
}
.e-n-how-title {
  width: 309px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.e-n-how-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 30px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  padding: 382px 0 30px;
}
.e-n-how-text-bold {
  font-family: Libre Baskerville;
  font-weight: 700;
  font-size: 30px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
}
.e-n-how-text-two {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;

  color: #636567;
}

@media screen and (min-width: 1211px) {
  .e-n-how-container {
    margin: auto;
    width: 1440px;
    height: 1227px;
    padding: 140px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/1.png");
  }
  .e-n-how-title {
    width: 309px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .e-n-how-text {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 30px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    padding: 260px 368.5px 30px;
  }
  .e-n-how-text-bold {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 30px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-n-how-text-two {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;

    color: #636567;
    padding: 0px 368.5px;
  }
}

.e-n-characters {
  background: #ffffff;
}
.e-n-characters-container {
  background: #ffffff;

  padding: 40px 16px;
  margin: auto;
  width: 375px;
}
.e-n-characters-list {
  padding-top: 32px;
}
.e-n-characters-item {
  display: flex;
  gap: 8px;
  color: #636567;
}
.e-n-characters-img {
  width: 167.5px;
  height: 240.67893981933594px;
  gap: 16px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.e-n-characters-text-bold {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
}

.e-n-characters-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 20px;
}
@media screen and (min-width: 1211px) {
  .e-n-characters-container {
    background: #ffffff;

    padding: 100px 150px;
    margin: auto;
    width: 1440px;
  }
  .e-n-characters-list {
    padding-top: 60px;
  }
  .e-n-characters-item {
    display: flex;
    gap: 24px;
    color: #636567;
    align-items: end;
  }
  .e-n-characters-img {
    width: 565px;
    height: 656px;
    gap: 16px;
    border-radius: 10px;
  }
  .e-n-characters-text-bold {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
  }

  .e-n-characters-text {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;

    padding-top: 30px;
  }
}

.e-n-reviews {
  background: #220429;
}
.e-n-reviews-container {
  background: #220429;

  margin: auto;
  padding: 40px 16px;
  width: 375px;
}
.e-n-reviews-list {
  padding-top: 32px;
}

.e-n-reviews-item {
  margin: 0 4px;
  width: 322px;
  height: 224px;
  gap: 16px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  border-radius: 10px;
  border-width: 4px;
  background: radial-gradient(
    69.49% 69.49% at 50% 50%,
    #e4b985 57.13%,
    #c1865a 100%
  );
  border: 4px solid #b99954;
  box-shadow: 0px 1px 1px 0px #34240db2 inset, 0px -1px 1px 0px #34240db2 inset,
    -1px 0px 1px 0px #34240db2 inset, 1px 0px 1px 0px #34240db2 inset;
}

.e-n-reviews-text-bold {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;

  height: 78px;
  margin: 0px 0 16px;
}

.e-n-reviews-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;

  color: #5c5f61;
}

@media screen and (min-width: 1211px) {
  .e-n-reviews-container {
    background: #220429;

    margin: auto;
    padding: 100px 150px;
    width: 1440px;
  }
  .e-n-reviews-list {
    padding-top: 60px;
  }

  .e-n-reviews-item {
    margin: 0 12px;
    width: 414px;
    height: 197px;
    gap: 16px;
    border-radius: 10px;
    border-width: 4px;
    padding: 24px 14px;
  }

  .e-n-reviews-text-bold {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;

    height: 52px;
    margin: 0px 0 16px;
  }

  .e-n-reviews-text {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}

.e-n-faq {
  background: #ffffff;
}
.e-n-faq-container {
  background: #ffffff;

  padding: 40px 16px;
  width: 375px;
  margin: auto;
}
.e-n-faq-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.e-n-faq-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;
}
.e-n-why-text-two {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #636567;
}
@media screen and (min-width: 1211px) {
  .e-n-faq-container {
    background: #ffffff;

    padding: 100px 150px;
    width: 1440px;
    margin: auto;
  }
  .e-n-faq-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
  }
  .e-n-faq-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 30px;
    line-height: 142%;
    letter-spacing: 0%;
    width: 647px;
  }
  .e-n-why-text-two {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.e-n-challenges {
  background: #ffffff;
}

.e-n-challenges-container {
  height: 1033px;
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Strategic\ Depth.png");
}
.e-n-challenges-text-bold {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;
  padding: 32px 0 318px;
}

.e-n-challenges-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #636567;
}

@media screen and (min-width: 1211px) {
  .e-n-challenges-container {
    height: 1029px;
    width: 1440px;
    margin: auto;
    padding: 100px 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Strategic\ Depth\ \(1\).png");
  }
  .e-n-challenges-text-bold {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 30px;
    line-height: 142%;
    letter-spacing: 0%;

    padding: 60px 0 0px;
  }

  .e-n-challenges-list {
    padding-top: 214px;
    padding-left: 582px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.e-n-tap {
  background: #220429;
}

.e-n-tap-container {
  background: #220429;

  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.e-n-tap-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
}
.e-n-tap-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #636567;
  margin-bottom: 16px;
}
.e-n-tap-bold {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #ffffff;
}
.e-n-tap-item {
  display: none;
}
@media screen and (min-width: 1211px) {
  .e-n-tap-container {
    background: #220429;

    width: 1440px;
    margin: auto;
    padding: 100px 150px;
  }
  .e-n-tap-list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 60px;
  }
  .e-n-tap-text {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
    height: 28px;
    margin-bottom: 24px;
  }
  .e-n-tap-bold {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 18px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
  }
  .e-n-tap-item {
    display: block;
    width: 227px;
  }
  .e-n-tap-itemq {
    display: none;
  }
  .e-n-tap-itema {
    width: 227px;
  }
  .e-n-tap-itemas {
    width: 566px;
  }
}
.e-n-contact {
  background: #ffffff;
}
.e-n-contact-container {
  background: #ffffff;

  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.e-n-contact-list {
  padding-top: 32px;
}

.e-n-contact-item {
  width: 322px;
  height: 444px;
  border-radius: 10px;
  padding: 24px;
  background: #f3f4f6;
  margin: 0 4px;
}
.e-n-contact-img {
  margin: auto;
}
.e-n-contact-text-bold {
  font-family: Libre Baskerville;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  height: 264px;
  margin: 24px 0 59px;
}

.e-n-contact-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #636567;
  text-align: center;
}

@media screen and (min-width: 1211px) {
  .e-n-contact-container {
    background: #ffffff;

    width: 1440px;
    margin: auto;
    padding: 100px 150px;
  }

  .e-n-contact-list {
    padding-top: 60px;
  }

  .e-n-contact-item {
    width: 582px;
    height: 270px;
    justify-content: space-between;
    border-radius: 10px;
    padding: 24px;

    margin: 0 12px;
  }
  .e-n-contact-img {
    margin: auto;
  }
  .e-n-contact-text-bold {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;

    height: 154px;
    margin: 24px 0 0px;
  }

  .e-n-contact-text {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
  }
}
.e-n-gallery {
  background: #ffffff;

  margin: auto;
  padding: 40px 16px;
}
.e-n-gallery-container {
  width: 343px;
  margin: auto;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  background: #220429;

  border-radius: 10px;
}
.e-n-gallery-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.e-n-gallery-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;

  color: #919496;
}

@media screen and (min-width: 1211px) {
  .e-n-gallery {
    background: #ffffff;

    margin: auto;
    padding: 100px 150px;
  }
  .e-n-gallery-container {
    width: 1140px;
    padding-top: 100px;

    padding-bottom: 100px;
    background: #220429;

    border-radius: 10px;
  }
  .e-n-gallery-list {
    padding: 60px 169.5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 30px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;

    color: #ffffff;
  }

  .e-n-gallery-text {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;

    color: #919496;
  }
}

.e-n-features-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background: #f3f4f6;
}
.e-n-features-title {
  align-items: center;
  width: 337px;
}
.e-n-features-text-two {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;
  padding: 32px 0 24px;
}
.e-n-features-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #636567;
}

@media screen and (min-width: 1211px) {
  .e-n-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 150px;
    background: #f3f4f6;
  }

  .e-n-features-text-two {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 30px;
    line-height: 142%;
    letter-spacing: 0%;

    padding: 60px 0 24px;
  }
  .e-n-features-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
  }
  .e-n-features-list li {
    width: 558px;
  }
}

.e-n-policy-terms-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;
}

.e-n-policy-terms-container h1 {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;

  padding-bottom: 20px;
}
.e-n-policy-terms-container h2 {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;

  margin-top: 20px;
}
.e-n-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.e-n-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1211px) {
  .e-n-policy-terms-container {
    padding: 124px 100px 60px;
    width: 1440px;
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
  }

  .e-n-policy-terms-container h1 {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 84px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .e-n-policy-terms-container h2 {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;

    margin-top: 20px;
  }
}
.e-n-footer-container {
  background: #220429;

  padding: 40px 13px 32px;
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #ffffff;
}
.e-n-footer-title {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}
.e-n-footer-title-two {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #919496;
  padding-top: 16px;
}
.e-n-footer-div {
  display: flex;
  gap: 16px;
}
.e-n-footerq {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.e-n-footer-t {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-bottom: 2px;
}
.e-n-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.e-n-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.e-n-footer-copyright {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #919496;
}

@media screen and (min-width: 1211px) {
  .e-n-footer-container {
    padding: 80px 150px 60px;
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #ffffff;
  }
  .e-n-footer-title {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 899px;
  }
  .e-n-footer-title-two {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;

    padding-top: 24px;
    width: 899px;
  }

  .e-n-footerq {
    display: flex;
    flex-direction: row;
    gap: 159px;
  }

  .e-n-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .e-n-footer-text {
    text-decoration: none;
    color: inherit;
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .e-n-footer-copyright {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;

    color: #919496;
    padding-top: 130px;
  }
}

.e-n-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 24px 16px;
  background: #ffffff;

  z-index: 1000;
  display: none;
  color: #0b0b0b;
}
.e-n-cookie-popup-text {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.e-n-cookie-popup-text-two {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;

  padding-top: 8px;
}

.e-n-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.e-n-cookie-button {
  border: none;
  background: #ffffff;
  border: 1px solid #220429;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  width: 167.5px;
  color: #220429;
  border-radius: 4px;

  padding: 16px 0;
}

#accept-cookies {
  background: #220429;

  color: #ffffff;
}

.e-n-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1211px) {
  .e-n-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 133px;
  }

  .e-n-cookie-popup-text-two {
    width: 837px;
  }

  .e-n-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .e-n-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
